.tdt-search {
  width: 250px;

  .tdt-search-box {
    display: flex;
    height: 30px;
    position: relative;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 15%);

    .search-input {
      outline: none;
      width: 210px;
      height: 30px;
      padding: 5px 10px;
      border: none;
    }
    .search-btn {
      outline: none;
      border: none;
      width: 40px;
      height: 30px;
      line-height: 35px;
      font-size: 16px;
      color: #333;
      cursor: pointer;
      text-align: center;
      background-color: #fff;
    }
    .search-close {
      position: absolute;
      right: 40px;
      top: 0;
      width: 15px;
      height: 30px;
      line-height: 35px;
      font-size: 10px;
      color: #333;
      cursor: pointer;
      text-align: center;
      background-color: #fff;
    }
  }

  .tdt-search-suggests {
    width: 100%;
    background: #fff;
    border-radius: 2px;
    margin-top: 1px;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 15%);

    .suggests-item {
      text-align: left;
      line-height: 2;
      padding: 0 10px;
      cursor: pointer;
      &:hover {
        background: #eee;
      }
      .suggests-name {
        font-size: 14px;
      }
      .suggests-address {
        font-size: 12px;
        color: #999;
        margin-left: 10px;
      }
    }
  }

  .tdt-search-pois {
    width: 100%;
    background: #fff;
    border-radius: 2px;
    margin-top: 1px;
    max-height: 400px;
    overflow-y: auto;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 15%);

    .pois-item {
      text-align: left;
      line-height: 2;
      padding: 0 10px;
      cursor: pointer;
      border-bottom: 1px solid #eee;
      &:hover {
        background: #f5f5f5;
      }
      .pois-name {
        font-size: 14px;
      }
      .pois-address {
        font-size: 12px;
        color: #999;
      }
    }
  }

  .tdt-search-page {
    width: 100%;
    text-align: center;
    .search-page-btn {
      cursor: pointer;
      padding: 4px;
      font-size: 14px;
    }
  }

  .icon {
    width: 1em;
    height: 1em;
    fill: currentColor;
    overflow: hidden;
  }
}
